*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

.NavBar {
    background-color: rgb(22, 94, 72);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    /* position: fixed; */
}

.ListMiddel li {
    list-style: none;
    margin: 20px;
    color: white;
    font-weight: 100;
    font-size: 12px;
    transition: transform ease-out 250ms;
}

.ListMiddel li a {
    text-decoration: none;
    color: white;
    transition: transform ease-out 250ms, letter-spacing ease-out 250ms;

}

.ListMiddel li:hover,
.ListMiddel li a:hover {
    color: gold;
    text-shadow: 0px 0px 3px gold;
    transform: scale(1.1);
    letter-spacing: 1.5px;
    transition-duration: 250ms;
}

.ListMiddel ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nameLeft {
    padding: 5px;
    font-size: 15px;
    color: white;
}

.DownloadCV {
    padding: 8px;
    font-size: 6px;
    width: 20em;
    color: rgb(17, 82, 63);
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    transition: transform ease-out 250ms;

}

.DownloadCV:hover {
    transform: scale(1.1);
    transition: background ease-out 250ms, transform ease-out 250ms;
    box-shadow: 1px 0px 8px 0px gold;
    background-color: gold;
}

.part1 {
    color: white;
    /* position: absolute; */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
    opacity: 1;
}

.container {
    background-image: linear-gradient(rgb(17, 82, 63), rgb(20, 94, 72), rgb(33, 124, 97), rgb(36, 134, 105));
    background-color: rgb(17, 82, 63);
    display: flex;
    justify-content: space-around;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 30px 5px 130px;
    flex-wrap: wrap;
    margin: 10px;
}

.leftContainer p,
.leftContainer h1 {
    padding: 12px 0px;

}

.rightContainer {
    margin: 0px 100px;
    margin-top: 20px;
}

.rightContainer img {
    max-width: 400px;
}

#webbuild {
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: lighter;
    color: gold;
    padding-bottom: 0px;
}

#intro {
    font-size: 54px;
    font-family: 'Noto Serif', serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.829);
}

#intro span h1 {
    display: inline;
    font-size: 54px;
    color: gold;
    text-shadow: 0px 0px 8px gold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 18px 0px;
}

.Protfolio {
    margin-left: 50px;
    padding: 8px;
    font-size: 15px;
    width: 12em;
    color: rgb(17, 82, 63);
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    transition: transform ease-out 250ms;
}

.aboutMe, .seeMore {
    padding: 8px;
    font-size: 15px;
    width: 12em;
    color: rgb(17, 82, 63);
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    transition: transform ease-out 250ms;
}

.Protfolio:hover,
.aboutMe:hover, .seeMore:hover {
    transform: scale(1.1);
    transition: background ease-out 250ms, transform ease-out 250ms;
    box-shadow: 1px 0px 8px 0px gold;
    background-color: gold;
}

.part2 {
    background-color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    /* background: linear-gradient(to bottom, #159957, #155799); */
    /* color: rgb(22, 94, 72); */
    flex-wrap: wrap;
}

.MyPic {
    /* width: 400px; */
    border-radius: 57px;
    border-top-left-radius: 0px;
    box-shadow: 10px 8px 25px 2px gray;
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
}

.heading {
    margin-bottom: 50px;
    text-align: center;
}

.About {
    text-align: center;
    line-height: 25px;
    align-self: center;
    background-color: rgb(241 241 241);
    border-radius: 57px;
    border-bottom-right-radius: 0px;
    color: rgb(22, 94, 72);
    letter-spacing: 2px;
    padding: 25px;
    width: 50%;
    box-shadow: 20px 25px 20px -11px;
    margin: 10px;
    position: relative;
    overflow: hidden;

}
/* .About .aboutText{
    position: relative;
    overflow: hidden;
} */

.About .aboutText::before{
    content: "";
    position: absolute;
    background-color: rgb(22, 94, 72);
    width: 100%;
    height: 100%;
    bottom: -100%;
    right: 0px;
    transition: ease-in-out 350ms;
    z-index: 1;
}
.About:hover .aboutText::before{
    bottom: 0px;
}
/* .About:hover .aboutText h1, .About:hover .aboutText p{

} */
.specialInfo{
    position: absolute;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
    color: rgb(241 241 241);
    height: 100%;
    /* border: 2px solid black; */
    bottom: -110%;
    right: 0px;
    left: 0px;
    border-radius: 57px;
    border-bottom-right-radius: 0px;
    transition: ease-in-out 350ms;
    z-index: 2;
    /* background-color: #333399; */
    /* visibility: hidden; */

}
/* 
.specialInfo .Experience{
    align-self: center;
} */
.specialInfo .info{
    margin: 5px 4px;
    padding: 0px 10px;
}

.specialInfo .info p{
    margin-top: 0px;
    margin-bottom: 20px;
}
.specialInfo .info h3{
    margin-bottom: 0px;
    color: gold;
    font-weight: 100;
}
.specialInfo .info h2{
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}
.About:hover .specialInfo{
    bottom: -8%;
}

.imageContainer{
    /* background-color: aliceblue; */
    margin: 10px 20px 10px 10px;
    position: relative;
    background-color: gray;
    border-radius: 57px;
    border-top-left-radius: 0px;
    width: 400px;
    /* visibility: hidden; */
}

.imageContainer::before,
.imageContainer::after {
    content: "";
    position: absolute;
    opacity: 1;
    top: 2.25em;
    bottom: 2.25em;
    left: 2.25em;
    right: 2.25em;
    transition: transform ease-out 250ms;
}

.imageContainer::before, .card1::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0, 1);
}

.imageContainer::after, .card1::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 0);
}

.imageContainer:hover::before, .card1:hover::before {
    transform: scale(1.05, 1);
}

.imageContainer:hover::after, .card1:hover::after {
    transform: scale(1, 1.05);
}

.imageContainer:hover .MyPic, .card1:hover .appleHQ {
    opacity: .4;
    filter: blur(2px);
}

.cardText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity ease-out 250ms;
}

.imageContainer:hover .cardText, .card1:hover .cardText {
    opacity: 1;
}

.part3{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 400px;
    padding: 30px 0px;
    background: linear-gradient(45deg, #f7971e, gold);
}
.barContainer{
    width: 80%;
    height: 90%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background-color: white;
    padding: 13px;
    /* box-shadow: inset 0px 0px 15px 5px rgb(44, 44, 44); */
}
.Slider{
    /* border: 1px solid; */
    width: 90%;
    height: 20%;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding: 5px;
    visibility: hidden;
}
.SliderContainer{
    width: 100%;
    height: 90%;
    background-color: rgb(202, 230, 255);
    border-radius: 50px;
    visibility: visible;
    transform: scale(1);
    transition: transform ease-out 250ms;
    /* border: 2px solid; */
}
.progress{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.progress h3{
    transform: scale(0);
    transition: transform ease-out 250ms;
}
.progress:hover h3{
    transform: scale(1);
}
.SliderContainer:hover{
    transform: scale(1.08);
}
.html{
    background: linear-gradient(to right, #f12711, #f5af19);
    width: 97%;
}
.css{
    background: linear-gradient(to right, #ff00cc, #333399);
    width: 90%;
}
.JavaScript{
    background: linear-gradient(to right, #f00000, #dc281e);
    width: 35%;
}

.part4{
    /* border: 1px solid; */
    padding: 20px 65px;
    background-color: rgb(22, 94, 72);
}

.part4 .myServices{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
    font-size: 42px;
}

.cardsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards, .portfolioCards{
    /* border: 1px solid red; */
    background-color: rgb(241 241 241);
    padding: 40px;
    color: rgb(22, 94, 72);
    margin: 10px;
    border-radius: 25px;
    width: 25%;
    transition: transform ease-out 250ms;

}

.cards h1{
    margin-bottom: 30px;
}

.cards h5{
    margin-top: 20px;
}

.cards h5 a{
    text-decoration: none;
    color: inherit;
}

.cards p{
    line-height: 20px;
}
.cards svg{
    width: 25%;
    margin-bottom: 15px;
    fill: rgb(22, 94, 72) ;
}


.cards:hover{
    transform: scale(1.1);
    transition: background ease-out 250ms, transform ease-out 250ms;
    box-shadow: 1px 0px 8px 0px gold;
    background-color: gold;

}

.seeMore{
    /* border: 1px solid; */
    font-size: 20px;
    width: 15%;
    text-align: center;
    margin: 30px auto 0px auto;
    padding: 15px;  
}

.myPortfolio, .contact{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: white;
    font-size: 42px;
}
.portfolioCards{
    padding: 0%;
    height: 400px;
}
.card1{
    position: relative;
    background-color: gray;
    transition: transform ease-in-out 250ms;
}
.card1::before, .card1::after{
    content: "";
    position: absolute;
    opacity: 1;
    top: 2.25em;
    bottom: 2.25em;
    left: 2.25em;
    right: 2.25em;
    transition: transform ease-out 250ms;
}
.card1 img{
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px;
}
.card1::before{
    transform: scale(1, 0);
}
.card1::after{
    transform: scale(0, 1);
}
.card1:hover .appleHQ{
    transition: filter ease-out 250ms;
    transition: opacity ease-out 250ms;
}

.part6{
    background-color: rgb(24 114 87);
}

.iconList{
    display: flex;
    justify-content: center;
    min-height: 110px;
    max-height: 200px;
}

.iconList svg{
    width: 50px;
    margin: 0px 20px;
    fill: white;
}
.iconList a svg{
    transition: transform ease-out 250ms, -webkit-box-reflect ease 250ms;
}

.iconList a svg:hover{
    transform: scale(1.1);
    transition: fill ease-out 250ms, transform ease-out 250ms;
    fill: gold;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));;
}

.copyright{
    text-align: center;
    margin-top: 10px;
    color: white;
}

/* Tablet */
@media(min-width: 501px) and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .leftContainer {
        padding: 0px;
        align-items: center;
    }

    #intro {
        text-align: center;
    }

    .About {
        width: 80%;
    }
    .imageContainer{
        margin: 0px;
    }
    .cards{
        width: 100%;
    }
    .portfolioCards{
        width: 100%;
    }
    .seeMore{
        width: 25%;
    }
    .cards svg{
        width: 20%;
    }
}

/* normal */
@media(max-width: 1024px) {
    #intro {
        font-size: 32px;
    }
    
    #intro span h1 {
        font-size: 32px;
    }
    .specialInfo{
        margin: 0px;
        font-size: 13px;
    }
    .About:hover .specialInfo{
        bottom: 0%;
    }
    .specialInfo .info h3{
        margin: 0px;
    }
    .cards{
        padding: 25px;
    }
    .Protfolio,
    .aboutMe{
        font-size: 10px;
    } 
}

/* Smartphone */
@media(min-width: 320px) and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    
    .leftContainer {
        padding: 0px;
        align-items: center;
    }
    
    .leftContainer p {
        text-align: center;
    }
    
    #intro {
        text-align: center;
    }
    
    .rightContainer {
        margin: 0px auto;
    }
    
    .rightContainer img {
        max-width: 320px;
    }
    
    .ListMiddel li {
        margin: 10px;
    }

    .buttons {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .Protfolio {
        margin-left: 0%;
        margin-top: 8px;
    }
    
    .MyPic {
        width: 98vw;
        box-shadow: none;
    }

    .About {
        margin: 13px 0px;
        box-shadow: none;
        width: 100%;
        height: 100vh;
    }
    
    .imageContainer {
        margin: 0%;
    }
    .progress h3{
        font-size: smaller;
    }
    .specialInfo{
        flex-direction: column;
        font-size: 15px;
        height: 100%;
        padding: 10px;
    }
    .About:hover .specialInfo{
        bottom: 0%;
    }
    .specialInfo .info{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .specialInfo .info p{
        margin: 0px;
    }
    .specialInfo .info h3{
        margin-top: 14px;
    }
    .cards{
        width: 100%;
    }
    .part4{
        padding: 0;
        padding-bottom: 10px;
    }
    .part4 .myServices, .part5 .myPortfolio, .contact{
        margin-top: 0px;
        padding-top: 20px;
    }
    .cards:hover{
        transform: none;

    }
    .SliderContainer{
        height: 50%;
    }
    .progress h3{
        font-size: 10px;
    }
    .portfolioCards{
        width: 100%;
    }
    .seeMore{
        width: 40%;
        padding: 10px;
        /* margin-bottom: 10px; */
    }
    .iconList{
        flex-wrap: wrap;
    }
    .iconList svg{
        margin: 0px 15px;
    }
    .iconList a svg:hover{
        transform: none;
        transition: none;
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0));;

    }
    .cards svg{
        width: 15%;
    }
}

@media(min-width: 1600px) and (max-width: 2000px) {
    .container {
        height: 91vh;
    }
    
    .rightContainer img {
        max-width: 500px;
    }
    
    #intro {
        font-size: 58px;
    }

    #webbuild {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .leftContainer p {
        font-size: 20px;
        font-weight: 200;
    }

    .Protfolio,
    .aboutMe {
        font-size: 15px;
        font-weight: 100;
    }
}